config defaults
	option syn_flood	1
	option input		ACCEPT
	option output		ACCEPT
	option forward		REJECT

config zone
	option name		lan
	list   network		'lan wwan'
	option input		ACCEPT
	option output		ACCEPT
	option forward		ACCEPT

config zone
	option name		wan
	option network  ''
	option input		ACCEPT
	option output		ACCEPT
	option forward		REJECT

config forwarding
	option src		lan
	option dest		wan

# Allow IPv4 ping
config rule
	option name		Allow-Ping
	option src		wan
	option proto		icmp
	option icmp_type	echo-request
	option family		ipv4
	option target		ACCEPT

config rule
	option name		Allow-IGMP
	option src		wan
	option proto		igmp
	option family		ipv4
	option target		ACCEPT

# Allow essential incoming IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Input
	option src		wan
	option proto	icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	list icmp_type		router-solicitation
	list icmp_type		neighbour-solicitation
	list icmp_type		router-advertisement
	list icmp_type		neighbour-advertisement
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name		Allow-ICMPv6-Forward
	option src		wan
	option dest		*
	option proto		icmp
	list icmp_type		echo-request
	list icmp_type		echo-reply
	list icmp_type		destination-unreachable
	list icmp_type		packet-too-big
	list icmp_type		time-exceeded
	list icmp_type		bad-header
	list icmp_type		unknown-header-type
	option limit		1000/sec
	option family		ipv6
	option target		ACCEPT

# Inbound Rules ------------------------------------

# DNS Inbound
config rule
	option name 'DNS inbound'
	option src wan
	option dest lan
	option src_port 53
	option target ACCEPT

# DNS Destination Inbound
config rule
	option name 'DNS destination inbound'
	option src wan
	option dest lan
	option dest_port 53
	option target ACCEPT

# FRC DS UDP Traffic Inbound
config rule
	option name 'FRC DS Traffic Inbound'
	option src wan
	option dest lan
	option proto udp
	option dest_port '1110 1115 1120 1122 1130 1140 1150 1160 6666'
	option target ACCEPT

# FRC DS TCP Traffic Inbound
config rule
	option name 'FRC DS TCP Traffic Inbound'
	option src wan
	option dest lan
	option proto tcp
	option dest_port '1180 1735 1740 1741'
	option target ACCEPT

# Team Range Inbound
config rule
	option name 'Team Range Inbound'
	option src wan
	option dest lan
	option dest_port '5800:5810'
	option target ACCEPT

# FRC CameraServer Inbound
config rule
	option name 'FRC CameraServer Inbound'
	option src wan
	option dest lan
	option dest_port '1180:1190'
	option target ACCEPT

# Camera Inbound
config rule
	option name 'Camera Inbound'
	option src wan
	option dest lan
	option dest_port '80 443 554'
	option target ACCEPT

# mDNS Inbound
config rule
	option name 'mDNS Inbound'
	option src wan
	option dest lan
	option proto udp
	option dest_port 5353
	option target ACCEPT

# DHCP Inbound
config rule
	option name 'DHCP Inbound'
	option src wan
	option dest lan
	option proto udp
	option dest_port '67 68'
	option target ACCEPT

# CTRE Phoenix Inbound
config rule
	option name 'CTRE Phoenix Inbound'
	option src wan
	option dest lan
	option proto tcp
	option dest_port 1250
	option target ACCEPT

# Outbound Rules ------------------------------------

# DNS Outbound
config rule
	option name 'DNS outbound'
	option dest wan
	option src lan
	option src_port 53
	option target ACCEPT

# DNS Destination Outbound
config rule
	option name 'DNS destination outbound'
	option dest wan
	option src lan
	option dest_port 53
	option target ACCEPT

# FRC DS UDP Traffic Outbound
config rule
	option name 'FRC DS Traffic Outbound'
	option dest wan
	option src lan
	option proto udp
	option dest_port '1110 1115 1120 1122 1130 1140 1150 1160 6666'
	option target ACCEPT

# FRC DS TCP Traffic Outbound
config rule
	option name 'FRC DS TCP Traffic Outbound'
	option dest wan
	option src lan
	option proto tcp
	option dest_port '1180 1735 1740 1741'
	option target ACCEPT

# Team Range Outbound
config rule
	option name 'Team Range Outbound'
	option dest wan
	option src lan
	option dest_port '5800:5810'
	option target ACCEPT

# FRC CameraServer Outbound
config rule
	option name 'FRC CameraServer Outbound'
	option dest wan
	option src lan
	option dest_port '1180:1190'
	option target ACCEPT

# Camera Outbound
config rule
	option name 'Camera Outbound'
	option dest wan
	option src lan
	option dest_port '80 443 554'
	option target ACCEPT

# mDNS Outbound
config rule
	option name 'mDNS Outbound'
	option dest wan
	option src lan
	option proto udp
	option dest_port 5353
	option target ACCEPT

# DHCP Outbound
config rule
	option name 'DHCP Outbound'
	option dest wan
	option src lan
	option proto udp
	option dest_port '67 68'
	option target ACCEPT

# CTRE Phoenix Outbound
config rule
	option name 'CTRE Phoenix Outbound'
	option dest wan
	option src lan
	option proto tcp
	option dest_port 1250
	option target ACCEPT